{% extends 'base.html' %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>

<div id="profile">
	<div id="profile-data">
		<p>{{ profile.name }}</p>
		<p>{{ profile.surname }}</p>
		<p>{{ profile.birthdate }}</p>
		<p></p>
		<p class="multiline">Bio: <br />
		{{ profile.bio }}</p>
	</div>
	<div id="contacts">
			<p>Contacts</p> 
		{% for c in contacts %}
			<p>{{ c.contact_type }}: {{ c.uid }}</p>
		{% endfor %}
		{% if other_contacts %}
			<p></p>
			<p>Other contacts: <br />
			{% for c in other_contacts %}
				{{ c.uid }} <br />		
			{% endfor %}
			</p>	
		{% endif %}
	</div>
	<div class="clear"></div>
</div>
{% endblock %}
