{% extends 'base.html' %}

{% block title %}
42 Coffee Cups Test Assignment - Profile edit
{% endblock %}

{% block extrahead %}
 <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
 <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
 <script src="{{ STATIC_URL }}js/forms.js"></script>
 {{ profile_form.media }}
{% endblock %}
		
{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>

<div id="profile">
	<form id="form" action="{% url edit_profile %}" method="post">
		{% csrf_token %}
	<div id="profile-data">
		{{ profile_form.as_p }}
	</div>
	<div id="contacts">
		{{ contatcs_forms.as_p }}
		{{ contatcs_forms.non_form_errors }}
	</div>
	<div class="clear"></div>
	<input type="submit" value="Save" /> 
	<a href="{% url show_profile %}">Cancel</a>
	<div id="foutput"></div>
	</form>
</div>
{% endblock %}
