body {
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em
}

.clear {
  clear: both;
}

.multiline {
	white-space:pre-wrap;
	margin: 0px;
	padding-left: 0.5em;
	padding-right: 1em;
}

.request_field {
	padding: 20px;
	border: 2px solid #999;
}

#profile-data {
	width: 50%;
	float: left;
}

#contacts {
	margin-left: 50%;
}


#login-edit {
	position: absolute;
	top:1em;
	right:2em;
}

