{% extends 'base.html' %}

{% block title %}
42 Coffee Cups Test Assignment - Last 10 requests
{% endblock %}

{% block content %}
	<h1>Last 10 requests:</h1>
	{% for r in requests %}
		<div class="request_field">
			<p>Logged at: {{ r.created_at }}</p>
			<p>Method: {{ r.method }}</p>
			<p>Request path: {{ r.path }}</p>
			<p>Request parameters: {{ r.params }}</p>
			<p class="multiline">Headers:<br />
				{{ r.headers }}
			</p>
		</div>
	{% endfor %}
{% endblock %}

{% block footer %}
	<hr />
	<a href="/">Back to homepage</a>
{% endblock %}