{% extends 'base.html' %}

{% block title %}
42 Coffee Cups Test Assignment - Last 10 requests
{% endblock %}

{% block content %}
	<h1>Last 10 requests:</h1>
	{% for r in requests %}
		<div class="request_field">
			{% if user.is_authenticated %}
				<form action="{% url requests_list %}" method="POST">
				{% csrf_token %}
					{{ r.form.as_p }}
					<input type="submit" value="Save" />
					<input type="hidden" name="pk" value="{{ r.pk }}" />
				</form>				
			{% else %}
				<p>Priotiry: {{ r.priority }}</p>
			{% endif %}
			<p>Logged at: {{ r.created_at }}</p>
			<p>Method: {{ r.method }}</p>
			<p>Request path: {{ r.path }}</p>
			<p>Request parameters: {{ r.params }}</p>
			<p class="multiline">Headers:<br />
				{{ r.headers }}
			</p>
		</div>
	{% endfor %}
{% endblock %}

{% block footer %}
	<hr />
	<a href="/">Back to homepage</a>
{% endblock %}